<launch>
    <include file="$(find ur_digital_twin)/launch/setup_gazebo.launch">
        <arg name="world_name" value="worlds/table_experiment.world"/>
        <arg name="gui" value="true"/>
        <env name="GAZEBO_RESOURCE_PATH" value="$(find ur_digital_twin)"/>
    </include>
    <param name="ursim_rtde_config" value="$(find ur_digital_twin)/config/rtde_configuration.xml" type="str"/>
    <param name="ursim_host" value="192.168.153.128" type="str"/>
    <param name="ursim_port" value="30004" type="int"/>
    <param name="sampling_interval" value="0.008" type="double"/>
    <node pkg="ur_digital_twin" name="joint_state_publisher" type="joint_state_publisher.py"/>
</launch>