<launch>
    <include file="ur_twin_gazebo.launch"/>
    <node pkg="ur_digital_twin" name="ft_subscriber_publisher" type="ft_subscriber_publisher.py">
        <param name="ft_socket_port" value="3334" type="int"/>
        <param name="ft_topic" value="/ee_forces_torques" type="str"/>
    </node>
</launch>